@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    background-color: var(--palette-white);
}

body,
p,
h1,
h2,
h3,
h4,
h5 {
    color: var(--palette-black);
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0.25rem 0 0.75rem 0;
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--font-size-extra-large);
    color: var(--palette-accent);
}

h2 {
    font-size: var(--font-size-large);
}

p {
    line-height: 1.4rem;
    margin: 0 0 1rem 0;
}

a {
    color: var(--palette-900);
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--palette-900);
}